handoffs/n8n-fixes-2025-12-12-batch3/9qP1nhQMcqLTAetR.payload3.json
{
  "name": "Omi Conversation Processor",
  "nodes": [
    {
      "id": "webhook-conv",
      "name": "Omi Conversation Webhook",
      "type": "n8n-nodes-base.webhook",
      "disabled": false,
      "position": [
        250,
        300
      ],
      "webhookId": "omi-conversation",
      "parameters": {
        "path": "omi-conversation",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "store-conv",
      "name": "Store Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "disabled": false,
      "position": [
        470,
        300
      ],
      "parameters": {
        "url": "http://wsiglog:3100/api/v1/omi/webhook/conversation",
        "method": "POST",
        "options": {},
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "sendBody": true,
        "specifyBody": "json"
      },
      "typeVersion": 4.2
    },
    {
      "id": "analyze-conv",
      "name": "AI Analysis",
      "type": "n8n-nodes-base.code",
      "disabled": false,
      "position": [
        690,
        300
      ],
      "parameters": {
        "jsCode": "// Lightweight fallback analysis (avoids external LLM dependency)\nconst conv = $('Omi Conversation Webhook').first().json.body || {};\nconst transcript = (conv.transcript || '').toString();\n\nconst actionItems = [];\nfor (const line of transcript.split(/\\r?\\n/)) {\n  const m = line.match(/^\\s*(action\\s*item|action|todo|to-do)\\s*[:\\-]\\s*(.+)$/i);\n  if (m) actionItems.push(m[2].trim());\n}\n\nconst analysis = {\n  topics: [],\n  action_items: actionItems,\n  people: [],\n  sentiment: 'neutral',\n  summary: transcript.slice(0, 240)\n};\n\nreturn [{ json: { text: JSON.stringify(analysis) } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "parse-analysis",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "disabled": false,
      "position": [
        910,
        300
      ],
      "parameters": {
        "jsCode": "const analysis = JSON.parse($input.first().json.text || '{}');\nconst conv = $('Omi Conversation Webhook').first().json.body;\n\nreturn [{\n  json: {\n    conversation_id: $('Store Conversation').first().json.id,\n    omi_id: conv.id,\n    analysis: analysis,\n    has_action_items: (analysis.action_items || []).length > 0,\n    people_mentioned: analysis.people || [],\n    duration: conv.duration_seconds\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "check-actions",
      "name": "Has Action Items?",
      "type": "n8n-nodes-base.if",
      "disabled": false,
      "position": [
        1130,
        300
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-actions",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.has_action_items }}",
              "rightValue": true
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "respond-processed",
      "name": "Respond Processed",
      "type": "n8n-nodes-base.respondToWebhook",
      "disabled": false,
      "position": [
        1350,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"status\": \"processed\", \"conversation_id\": $json.conversation_id, \"analysis\": $json.analysis} }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Omi Conversation Webhook": {
      "main": [
        [
          {
            "node": "Store Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Conversation": {
      "main": [
        [
          {
            "node": "AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Parse Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analysis": {
      "main": [
        [
          {
            "node": "Has Action Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Action Items?": {
      "main": [
        [
          {
            "node": "Respond Processed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null
}
