handoffs/n8n-fixes-2025-12-12-batch3/rhOYkamT9UkGB1V8.put.response2.txt
{"updatedAt":"2025-12-12T18:08:53.170Z","createdAt":"2025-12-06T23:19:39.478Z","id":"rhOYkamT9UkGB1V8","name":"BRAIN Idea Capture","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"raz/idea","responseMode":"responseNode","options":{}},"id":"webhook_trigger","name":"Idea Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"raz-idea-capture"},{"parameters":{"model":"claude-sonnet-4.5","prompt":"Extract and categorize this idea from Will. Return JSON only (no markdown, no commentary).\n\nInput: \"{{ $json.body.message }}\"\n\nReturn format:\n{\n  \"idea\": \"the core idea in one clear sentence\",\n  \"category\": \"one of: product, business, personal, tech, creative, life\",\n  \"priority\": \"one of: urgent, important, someday\",\n  \"related_to\": \"any related projects or topics mentioned, or null\",\n  \"raw_input\": \"original message\"\n}","options":{"maxTokens":500}},"id":"claude_extract","name":"Claude Extract Idea","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[500,300],"credentials":{"anthropicApi":{"id":"vibecheck-anthropic-001","name":"Anthropic API (vibecheck)"}}},{"parameters":{"jsCode":"// Parse model output into idea JSON\nconst response = $input.first().json;\nconst content = response?.content?.[0]?.text\n  ?? response?.text\n  ?? response?.output\n  ?? response?.result\n  ?? response?.message\n  ?? JSON.stringify(response);\n\nlet idea;\ntry {\n  const jsonMatch = content.match(/```json?\\n?([\\s\\S]*?)\\n?```/) || [null, content];\n  idea = JSON.parse(jsonMatch[1] || content);\n} catch (e) {\n  idea = {\n    idea: content,\n    category: 'uncategorized',\n    priority: 'someday',\n    related_to: null,\n    raw_input: $('Idea Webhook').first().json.body.message,\n    captured_at: new Date().toISOString(),\n    parse_error: true\n  };\n}\n\nidea.id = `idea_${Date.now()}`;\nidea.source = $('Idea Webhook').first().json.body.source || 'cli';\nidea.user = $('Idea Webhook').first().json.body.user || 'will';\nif (!idea.captured_at) idea.captured_at = new Date().toISOString();\n\nreturn [{ json: idea }];"},"id":"parse_idea","name":"Parse Idea","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,300]},{"parameters":{"method":"POST","url":"http://192.168.1.139:3100/api/v1/notes","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ title: $json.idea, content: JSON.stringify($json, null, 2), category: $json.category, metadata: { priority: $json.priority, related_to: $json.related_to, source: $json.source } }) }}","options":{}},"id":"store_wsiglog","name":"Store in wsiglog","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,200]},{"parameters":{"content":"={{ $json.idea }}","options":{}},"id":"set_response","name":"Set Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,400]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'captured', idea: $('Parse Idea').first().json.idea, category: $('Parse Idea').first().json.category }) }}","options":{}},"id":"respond_webhook","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1250,300]}],"connections":{"Idea Webhook":{"main":[[{"node":"Claude Extract Idea","type":"main","index":0}]]},"Claude Extract Idea":{"main":[[{"node":"Parse Idea","type":"main","index":0}]]},"Parse Idea":{"main":[[{"node":"Store in wsiglog","type":"main","index":0},{"node":"Set Response","type":"main","index":0}]]},"Store in wsiglog":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Set Response":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"7ecd8711-662a-4d05-b415-e152724497d8","activeVersionId":"7ecd8711-662a-4d05-b415-e152724497d8","versionCounter":100,"triggerCount":1,"tags":[],"activeVersion":{"updatedAt":"2025-12-12T18:08:53.175Z","createdAt":"2025-12-12T18:08:53.175Z","versionId":"7ecd8711-662a-4d05-b415-e152724497d8","workflowId":"rhOYkamT9UkGB1V8","nodes":[{"parameters":{"httpMethod":"POST","path":"raz/idea","responseMode":"responseNode","options":{}},"id":"webhook_trigger","name":"Idea Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"raz-idea-capture"},{"parameters":{"model":"claude-sonnet-4.5","prompt":"Extract and categorize this idea from Will. Return JSON only (no markdown, no commentary).\n\nInput: \"{{ $json.body.message }}\"\n\nReturn format:\n{\n  \"idea\": \"the core idea in one clear sentence\",\n  \"category\": \"one of: product, business, personal, tech, creative, life\",\n  \"priority\": \"one of: urgent, important, someday\",\n  \"related_to\": \"any related projects or topics mentioned, or null\",\n  \"raw_input\": \"original message\"\n}","options":{"maxTokens":500}},"id":"claude_extract","name":"Claude Extract Idea","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[500,300],"credentials":{"anthropicApi":{"id":"vibecheck-anthropic-001","name":"Anthropic API (vibecheck)"}}},{"parameters":{"jsCode":"// Parse model output into idea JSON\nconst response = $input.first().json;\nconst content = response?.content?.[0]?.text\n  ?? response?.text\n  ?? response?.output\n  ?? response?.result\n  ?? response?.message\n  ?? JSON.stringify(response);\n\nlet idea;\ntry {\n  const jsonMatch = content.match(/```json?\\n?([\\s\\S]*?)\\n?```/) || [null, content];\n  idea = JSON.parse(jsonMatch[1] || content);\n} catch (e) {\n  idea = {\n    idea: content,\n    category: 'uncategorized',\n    priority: 'someday',\n    related_to: null,\n    raw_input: $('Idea Webhook').first().json.body.message,\n    captured_at: new Date().toISOString(),\n    parse_error: true\n  };\n}\n\nidea.id = `idea_${Date.now()}`;\nidea.source = $('Idea Webhook').first().json.body.source || 'cli';\nidea.user = $('Idea Webhook').first().json.body.user || 'will';\nif (!idea.captured_at) idea.captured_at = new Date().toISOString();\n\nreturn [{ json: idea }];"},"id":"parse_idea","name":"Parse Idea","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,300]},{"parameters":{"method":"POST","url":"http://192.168.1.139:3100/api/v1/notes","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ title: $json.idea, content: JSON.stringify($json, null, 2), category: $json.category, metadata: { priority: $json.priority, related_to: $json.related_to, source: $json.source } }) }}","options":{}},"id":"store_wsiglog","name":"Store in wsiglog","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,200]},{"parameters":{"content":"={{ $json.idea }}","options":{}},"id":"set_response","name":"Set Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,400]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'captured', idea: $('Parse Idea').first().json.idea, category: $('Parse Idea').first().json.category }) }}","options":{}},"id":"respond_webhook","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1250,300]}],"connections":{"Idea Webhook":{"main":[[{"node":"Claude Extract Idea","type":"main","index":0}]]},"Claude Extract Idea":{"main":[[{"node":"Parse Idea","type":"main","index":0}]]},"Parse Idea":{"main":[[{"node":"Store in wsiglog","type":"main","index":0},{"node":"Set Response","type":"main","index":0}]]},"Store in wsiglog":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Set Response":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"Will Sigmon","name":null,"description":null}}